# Use Vi, not Emacs, style editing
set editing-mode vi

# Show a + for insert mode or : for ex mode
set show-mode-in-prompt on

# Show all completions as soon as I press tab, even if there's more than one
set show-all-if-ambiguous on

# Set custom ins and cmd for vi mode
set vi-cmd-mode-string \1\e[1;31m\2:\1\e[0m\2
set vi-ins-mode-string \1\e[1;32m\2+\1\e[0m\2
